<a href="https://colab.research.google.com/github/kleiva/CS100.1xIntroBigDatawithSpark/blob/master/Piotroski_F_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Calculating Piotroski F-score of Norwegian energy sector companies. 
https://en.wikipedia.org/wiki/Piotroski_F-score

using a library called yahoo_fin
https://theautomatic.net/yahoo_fin-documentation/

In [ ]:
!pip install yahoo_fin

Collecting yahoo_fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (2.23.0)
Collecting feedparser
  Downloading feedparser-6.0.8-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 5.2 MB/s
Collecting requests-html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->yahoo_fin) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (3.0.4)
Collecting pyquery
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo_fin) (0.0.1)
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 1.8 MB/s
Collecting w3lib
  Downloading w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.11.3)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 64.4 MB/s
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.0)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (112 kB)
     |████████████████████████████████| 112 kB 59.6 MB/s
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.8.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests-html->yahoo_fin) (4.6.3)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests-html->yahoo_fin) (4.2.6)
Building wheels for collected packages: fake-useragent, parse, sgmllib3k
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13502 sha256=5692bcdc5b31d8f3bb298b291b028fb0bbd4a0d094bfe275537707c0bc55cb3a
  Stored in directory: /root/.cache/pip/wheels/ed/f7/62/50ab6c9a0b5567267ab76a9daa9d06315704209b2c5d032031
  Building wheel for parse (setup.py) ... done
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24591 sha256=a3ae6130c11d14e2cab85d69de9797c2dd73e0c3ab3e5f8f8bb142c6560a6fce
  Stored in directory: /root/.cache/pip/wheels/9c/aa/cc/f2228050ccb40f22144b073f15a2c84f11204f29fc0dce028e
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=86d500e2cf2e572cfcdaadc87fcc5bbd1a8568b3a0663d1c2efeff8a48ae546d
  Stored in directory: /root/.cache/pip/wheels/73/ad/a4/0dff4a6ef231fc0dfa12ffbac2a36cebfdddfe059f50e019aa
Successfully built fake-useragent parse sgmllib3k
Installing collected packages: websockets, urllib3, pyee, cssselect, w3lib, sgmllib3k, pyquery, pyppeteer, parse, fake-useragent, requests-html, feedparser, yahoo-fin
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cssselect-1.1.0 fake-useragent-0.1.11 feedparser-6.0.8 parse-1.19.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-1.4.3 requests-html-0.10.0 sgmllib3k-1.0.0 urllib3-1.25.11 w3lib-1.22.0 websockets-10.3 yahoo-fin-0.8.9.1

tuto inspired from this one: https://github.com/kosta93/Fundamental_analysis/blob/main/Fundamental_analysis.py

In [ ]:
import yahoo_fin.stock_info as si
ticker = "OKEA.OL"
BS = si.get_balance_sheet(ticker)
print (BS)

endDate                    2021-12-31    2020-12-31    2019-12-31  \
Breakdown
intangibleAssets         1.075900e+07  3.834900e+07  1.592700e+07
capitalSurplus           1.927859e+09  1.912462e+09  1.912462e+09
totalLiab                1.066435e+10  8.693739e+09  9.304662e+09
totalStockholderEquity   1.708783e+09  1.082725e+09  1.681429e+09
otherCurrentLiab         1.342465e+09  6.715920e+08  1.086126e+09
totalAssets              1.237314e+10  9.776464e+09  1.098609e+10
commonStock              1.038700e+07  1.025000e+07  1.020600e+07
otherCurrentAssets       1.352970e+08  1.000000e+03  7.860000e+05
retainedEarnings        -2.485270e+08 -8.513290e+08 -2.480940e+08
otherLiab                5.906208e+09  5.172412e+09  4.881694e+09
goodWill                 7.689460e+08  7.689460e+08  1.425568e+09
treasuryStock            1.906400e+07  1.134200e+07  6.855000e+06
otherAssets              3.024563e+09  3.029368e+09  2.968502e+09
cash                     2.038745e+09  8.712100e+08  1.663478e+09
totalCurrentLiabilities  1.788153e+09  9.770520e+08  1.748402e+09
shortLongTermDebt        3.859300e+07           NaN           NaN
otherStockholderEquity   1.906400e+07  1.134200e+07  6.855000e+06
propertyPlantEquipment   4.930094e+09  4.030267e+09  4.148412e+09
totalCurrentAssets       3.638774e+09  1.909534e+09  2.427682e+09
netTangibleAssets        9.290780e+08  2.754300e+08  2.399340e+08
shortTermInvestments     2.099610e+08           NaN           NaN
netReceivables           9.531530e+08  7.786270e+08  6.112440e+08
longTermDebt             2.749726e+09  2.400297e+09  2.556570e+09
inventory                2.533180e+08  2.287900e+08  1.422910e+08
accountsPayable          1.177210e+08  4.650900e+07  3.399090e+08

endDate                    2018-12-31
Breakdown
intangibleAssets         6.324000e+06
capitalSurplus           1.624104e+09
totalLiab                8.349115e+09
totalStockholderEquity   1.456304e+09
otherCurrentLiab         8.989800e+08
totalAssets              9.805419e+09
commonStock              8.220000e+06
otherCurrentAssets       4.922800e+07
retainedEarnings        -1.773810e+08
otherLiab                4.535350e+09
goodWill                 1.530962e+09
treasuryStock            1.361000e+06
otherAssets              2.754237e+09
cash                     3.946700e+08
totalCurrentLiabilities  1.285176e+09
shortLongTermDebt                 NaN
otherStockholderEquity   1.361000e+06
propertyPlantEquipment   3.873038e+09
totalCurrentAssets       1.640858e+09
netTangibleAssets       -8.098200e+07
shortTermInvestments              NaN
netReceivables           8.713330e+08
longTermDebt             2.528589e+09
inventory                3.155000e+08
accountsPayable          7.687100e+07

In [ ]:
years = BS.columns

In [ ]:
print(BS[years[0]])

Breakdown
intangibleAssets           1.075900e+07
capitalSurplus             1.927859e+09
totalLiab                  1.066435e+10
totalStockholderEquity     1.708783e+09
otherCurrentLiab           1.342465e+09
totalAssets                1.237314e+10
commonStock                1.038700e+07
otherCurrentAssets         1.352970e+08
retainedEarnings          -2.485270e+08
otherLiab                  5.906208e+09
goodWill                   7.689460e+08
treasuryStock              1.906400e+07
otherAssets                3.024563e+09
cash                       2.038745e+09
totalCurrentLiabilities    1.788153e+09
shortLongTermDebt          3.859300e+07
otherStockholderEquity     1.906400e+07
propertyPlantEquipment     4.930094e+09
totalCurrentAssets         3.638774e+09
netTangibleAssets          9.290780e+08
shortTermInvestments       2.099610e+08
netReceivables             9.531530e+08
longTermDebt               2.749726e+09
inventory                  2.533180e+08
accountsPayable            1.177210e+08
Name: 2021-12-31 00:00:00, dtype: float64

In [ ]:
print(BS[years[0]]['otherAssets'])

3024563000.0

In [ ]:
balance_sheet = []
income_statement = []
cfs = []
years = []
tickers = "AKAST.OL", "AKRBP.OL", "ACC.OL", "AKSO.OL", "ARCH.OL", "AWDR.OL", "BORR.OL", "BWE.OL", "BWO.OL", "DNO.OL", "DOF.OL", "EIOF.OL", "EMGS.OL", "EQNR.OL", "HAVI.OL", "IOX.OL", "MGN.OL", "MSEIS.OL", "NEL.OL", "NODL.OL", "NODLO.OL", "NOR.OL", "OTS.OL", "ODL.OL", "OTL.OL", "OKEA.OL", "PEN.OL", "PSE.OL", "PNOR.OL", "PGS.OL", "PRS.OL", "QEC.OL", "RAKP.OL", "REACH.OL", "SDSD.OL", "SCANA.OL", "SCATC.OL", "GEG.OL", "SHLF.OL", "SIOFF.OL", "SOFF.OL", "SUBC.OL", "TGS.OL", "VAR.OL"

In [ ]:
def get_data(ticker):
  global balance_sheet
  global income_statement
  global cfs
  global years
  balance_sheet = si.get_balance_sheet(ticker)
  income_statement = si.get_income_statement(ticker)
  cfs = si.get_cash_flow(ticker)
  years = balance_sheet.columns

In [ ]:
get_data("ACC.OL")
income_statement

endDate                           2020-12-31
Breakdown
researchDevelopment                     None
effectOfAccountingCharges               None
incomeBeforeTax                    -88920000
minorityInterest                        None
netIncome                          -88920000
sellingGeneralAdministrative        42294000
grossProfit                         11692000
ebit                               -89164000
operatingIncome                    -89164000
otherOperatingExpenses              54800000
interestExpense                      -682000
extraordinaryItems                      None
nonRecurring                            None
otherItems                              None
incomeTaxExpense                           0
totalRevenue                        31602000
totalOperatingExpenses             120766000
costOfRevenue                       19910000
totalOtherIncomeExpenseNet            244000
discontinuedOperations                  None
netIncomeFromContinuingOps         -88920000
netIncomeApplicableToCommonShares  -88920000

In [ ]:
cfs

endDate                                2020-12-31
Breakdown
changeToLiabilities                             0
totalCashflowsFromInvestingActivities    -5036000
netBorrowings                            -2384000
totalCashFromFinancingActivities        971524000
changeToOperatingActivities              34072000
issuanceOfStock                        1002604000
netIncome                               -88920000
changeInCash                            915398000
repurchaseOfStock                        -3718000
totalCashFromOperatingActivities        -51090000
depreciation                              3762000
otherCashflowsFromFinancingActivities   -24978000
changeToNetincome                           -4000
capitalExpenditures                       -752000

In [ ]:
tickers

('AKAST.OL',
 'AKRBP.OL',
 'ACC.OL',
 'AKSO.OL',
 'ARCH.OL',
 'AWDR.OL',
 'BORR.OL',
 'BWE.OL',
 'BWO.OL',
 'DNO.OL',
 'DOF.OL',
 'EIOF.OL',
 'EMGS.OL',
 'EQNR.OL',
 'HAVI.OL',
 'IOX.OL',
 'MGN.OL',
 'MSEIS.OL',
 'NEL.OL',
 'NODL.OL',
 'NODLO.OL',
 'NOR.OL',
 'OTS.OL',
 'ODL.OL',
 'OTL.OL',
 'OKEA.OL',
 'PEN.OL',
 'PSE.OL',
 'PNOR.OL',
 'PGS.OL',
 'PRS.OL',
 'QEC.OL',
 'RAKP.OL',
 'REACH.OL',
 'SDSD.OL',
 'SCANA.OL',
 'SCATC.OL',
 'GEG.OL',
 'SHLF.OL',
 'SIOFF.OL',
 'SOFF.OL',
 'SUBC.OL',
 'TGS.OL',
 'VAR.OL')

In [ ]:
profitability_score = 0
def profitability():
  global profitability_score
  #scores 1 and 2 net income
  net_income = income_statement[years[0]]['netIncome']
  net_income_py = income_statement[years[1]]['netIncome']
  ni_score = 1 if net_income>0 else 0
  ni_score_2 = 1 if net_income>net_income_py else 0

  #Score3 operating cash flow
  op_cf = cfs[years[0]]['totalCashFromOperatingActivities']
  op_cf_score = 1 if op_cf>0 else 0

  #Scrore4 change in RoA
  avg_asset = (balance_sheet[years[0]]['totalAssets'] + balance_sheet[years[0]]['totalAssets'])/2
  avg_asset_py = (balance_sheet[years[1]]['totalAssets'] + balance_sheet[years[2]]['totalAssets'])/2
  RoA = net_income/avg_asset
  RoA_py = net_income_py/avg_asset_py
  RoA_score = 1 if RoA>RoA_py else 0

  #Score5 Accruals
  total_assets = balance_sheet[years[0]]['totalAssets']
  accruals = op_cf/total_assets-RoA
  ac_score = 1 if accruals>0 else 0

  profitability_score = ni_score + ni_score_2 + op_cf_score + RoA_score + ac_score
  print(profitability_score)

In [ ]:
for ticker in tickers:
  try:
    get_data(ticker)
    print(ticker)
    profitability() 
  
  #profitability(ticker)
  #leverage(ticker)
  #operating efficiency(ticker)
  except:
    print(ticker + ', something went wrong')

AKAST.OL
3
AKRBP.OL
3
ACC.OL
ACC.OL, something went wrong
AKSO.OL
2
ARCH.OL
4
AWDR.OL
1
BORR.OL
1
BWE.OL
2
BWO.OL
2
DNO.OL
2
DOF.OL
2
EIOF.OL
4
EMGS.OL
5
EQNR.OL
2
HAVI.OL
4
IOX.OL
2
MGN.OL
5
MSEIS.OL
4
NEL.OL
1
NODL.OL
3
NODLO.OL
NODLO.OL, something went wrong
NOR.OL
2
OTS.OL, something went wrong
ODL.OL
5
OTL.OL
OTL.OL, something went wrong
OKEA.OL
5
PEN.OL
2
PSE.OL
5
PNOR.OL
5
PGS.OL
2
PRS.OL
4
QEC.OL
2
RAKP.OL
2
REACH.OL
5
SDSD.OL
1
SCANA.OL
4
SCATC.OL
2
GEG.OL
4
SHLF.OL
2
SIOFF.OL
4
SOFF.OL
2
SUBC.OL
2
TGS.OL
2
VAR.OL
5

In [ ]:
def leverage():
  global leverage_score
  #score 6 long term debt ratio
  try:
    lt_debt = balance_sheet[years[0]]['longTermDebt']
    total_assets = balance_sheet[years[0]]['totalAssets']
    debt_ratio = lt_debt/total_assets
    debt_ratio_score = 1 if debt_ratio< 0.4 else 0
  except:
    debt_ratio_score = 1

  #score7 current ratio
  current_assets = balance_sheet[years[0]]['totalCurrentAssets']
  current_liab = balance_sheet[years[0]]['totalCurrentLiabilities']
  current_ratio = current_assets / current_liab
  current_ratio_score = 1 if current_ratio > 1 else 0

  leverage_score = debt_ratio_score + current_ratio_score
  print(leverage_score)

In [ ]:
for ticker in tickers:
  try:
    get_data(ticker)
    print(ticker)
    profitability() 
    leverage()
  

  except:
    print(ticker + ', something went wrong')

AKAST.OL
3
2
AKRBP.OL
5
2
ACC.OL
ACC.OL, something went wrong
AKSO.OL
2
2
ARCH.OL
4
1
AWDR.OL
1
1
BORR.OL
1
1
BWE.OL
2
2
BWO.OL
2
2
DNO.OL
2
2
DOF.OL
2
0
EIOF.OL
4
1
EMGS.OL
5
1
EQNR.OL
2
2
HAVI.OL
4
1
IOX.OL
2
0
MGN.OL
5
2
MSEIS.OL
4
2
NEL.OL
1
2
NODL.OL
3
1
NODLO.OL
NODLO.OL, something went wrong
NOR.OL
2
1
OTS.OL, something went wrong
ODL.OL
5
1
OTL.OL
OTL.OL, something went wrong
OKEA.OL
5
2
PEN.OL
2
2
PSE.OL
5
2
PNOR.OL
5
2
PGS.OL
2
0
PRS.OL
4
1
QEC.OL
2
1
RAKP.OL
2
2
REACH.OL
5
2
SDSD.OL
1
2
SCANA.OL
4
0
SCATC.OL
2
1
GEG.OL
4
1
SHLF.OL
2
1
SIOFF.OL
4
1
SOFF.OL
2
1
SUBC.OL
2
2
TGS.OL
2
0
VAR.OL
5
1

In [ ]:
def operating_efficiency():
  global operating_efficiency_score
  #Score #8 - Gross margin
  gp = income_statement[years[0]]['grossProfit']
  gp_py = income_statement[years[1]]['grossProfit']
  revenue = income_statement[years[0]]['totalRevenue']
  revenue_py = income_statement[years[1]]['totalRevenue']
  gm = gp / revenue
  gm_py = gp_py / revenue_py
  gm_score = 1 if gm > gm_py else 0
    
  #Score #9 - Asset turnover
  avg_assets = (balance_sheet[years[0]]['totalAssets'] + balance_sheet[years[1]]['totalAssets']) / 2
  avg_assets_py = (balance_sheet[years[1]]['totalAssets']+ balance_sheet[years[2]]['totalAssets']) / 2

  at = revenue / avg_assets #at = asset turnover
  at_py = revenue_py / avg_assets_py
  at_score = 1 if at > at_py else 0

  operating_efficiency_score = gm_score + at_score

In [ ]:
import pandas as pd
summary = pd.DataFrame(columns = ['Ticker', 
                                  'Profitability', 'Leverage',
                                  'Operating eficiency'])
summary['Total score'] = summary['Profitability'] + summary['Leverage'] + summary['Operating eficiency']
summary.to_csv('Summary.csv')

In [ ]:
for ticker in tickers:
    try:
        get_data(ticker)
        #pe(ticker)
        profitability()
        leverage()
        operating_efficiency()
        new_row = {'Ticker': ticker,
                   #'PE ratio': pe_ratio,
                   'Profitability': profitability_score,
                   'Leverage': leverage_score,
                   'Operating eficiency': operating_efficiency_score}

        summary = summary.append(new_row, ignore_index = True)
        print(ticker + ' added.')
        time.sleep(3)
    except:
        print(ticker + ': Something went wrong.')

3
2
AKAST.OL added.
AKAST.OL: Something went wrong.
3
2
AKRBP.OL added.
AKRBP.OL: Something went wrong.
ACC.OL: Something went wrong.
2
2
AKSO.OL added.
AKSO.OL: Something went wrong.
4
1
ARCH.OL added.
ARCH.OL: Something went wrong.
1
1
AWDR.OL added.
AWDR.OL: Something went wrong.
1
1
BORR.OL added.
BORR.OL: Something went wrong.
2
2
BWE.OL added.
BWE.OL: Something went wrong.
2
2
BWO.OL added.
BWO.OL: Something went wrong.
2
2
DNO.OL added.
DNO.OL: Something went wrong.
2
0
DOF.OL added.
DOF.OL: Something went wrong.
4
1
EIOF.OL added.
EIOF.OL: Something went wrong.
5
1
EMGS.OL added.
EMGS.OL: Something went wrong.
2
2
EQNR.OL added.
EQNR.OL: Something went wrong.
4
1
HAVI.OL added.
HAVI.OL: Something went wrong.
2
0
IOX.OL added.
IOX.OL: Something went wrong.
5
2
MGN.OL added.
MGN.OL: Something went wrong.
4
2
MSEIS.OL added.
MSEIS.OL: Something went wrong.
1
2
NEL.OL added.
NEL.OL: Something went wrong.
3
1
NODL.OL: Something went wrong.
NODLO.OL: Something went wrong.
2
1
NOR.OL added.
NOR.OL: Something went wrong.
OTS.OL: Something went wrong.
5
1
ODL.OL added.
ODL.OL: Something went wrong.
OTL.OL: Something went wrong.
5
2
OKEA.OL added.
OKEA.OL: Something went wrong.
2
2
PEN.OL added.
PEN.OL: Something went wrong.
5
2
PSE.OL added.
PSE.OL: Something went wrong.
5
2
PNOR.OL added.
PNOR.OL: Something went wrong.
2
0
PGS.OL added.
PGS.OL: Something went wrong.
4
1
PRS.OL added.
PRS.OL: Something went wrong.
2
1
QEC.OL added.
QEC.OL: Something went wrong.
2
2
RAKP.OL added.
RAKP.OL: Something went wrong.
5
2
REACH.OL added.
REACH.OL: Something went wrong.
1
2
SDSD.OL added.
SDSD.OL: Something went wrong.
4
0
SCANA.OL added.
SCANA.OL: Something went wrong.
2
1
SCATC.OL added.
SCATC.OL: Something went wrong.
4
1
GEG.OL added.
GEG.OL: Something went wrong.
2
1
SHLF.OL added.
SHLF.OL: Something went wrong.
4
1
SIOFF.OL added.
SIOFF.OL: Something went wrong.
2
1
SOFF.OL added.
SOFF.OL: Something went wrong.
2
2
SUBC.OL added.
SUBC.OL: Something went wrong.
2
0
TGS.OL added.
TGS.OL: Something went wrong.
5
1
VAR.OL added.
VAR.OL: Something went wrong.

In [ ]:
summary

      Ticker Profitability Leverage Operating eficiency Total score
0   AKAST.OL             3        2                   0         NaN
1   AKRBP.OL             3        2                   0         NaN
2    AKSO.OL             2        2                   1         NaN
3    ARCH.OL             4        1                   1         NaN
4    AWDR.OL             1        1                   1         NaN
5    BORR.OL             1        1                   1         NaN
6     BWE.OL             2        2                   0         NaN
7     BWO.OL             2        2                   1         NaN
8     DNO.OL             2        2                   0         NaN
9     DOF.OL             2        0                   2         NaN
10   EIOF.OL             4        1                   0         NaN
11   EMGS.OL             5        1                   2         NaN
12   EQNR.OL             2        2                   0         NaN
13   HAVI.OL             4        1                   2         NaN
14    IOX.OL             2        0                   0         NaN
15    MGN.OL             5        2                   0         NaN
16  MSEIS.OL             4        2                   1         NaN
17    NEL.OL             1        2                   0         NaN
18    NOR.OL             2        1                   1         NaN
19    ODL.OL             5        1                   1         NaN
20   OKEA.OL             5        2                   2         NaN
21    PEN.OL             2        2                   0         NaN
22    PSE.OL             5        2                   0         NaN
23   PNOR.OL             5        2                   2         NaN
24    PGS.OL             2        0                   0         NaN
25    PRS.OL             4        1                   1         NaN
26    QEC.OL             2        1                   0         NaN
27   RAKP.OL             2        2                   0         NaN
28  REACH.OL             5        2                   2         NaN
29   SDSD.OL             1        2                   0         NaN
30  SCANA.OL             4        0                   1         NaN
31  SCATC.OL             2        1                   1         NaN
32    GEG.OL             4        1                   1         NaN
33   SHLF.OL             2        1                   2         NaN
34  SIOFF.OL             4        1                   2         NaN
35   SOFF.OL             2        1                   1         NaN
36   SUBC.OL             2        2                   1         NaN
37    TGS.OL             2        0                   0         NaN
38    VAR.OL             5        1                   1         NaN